.sidebar-fixed{
    height: 100vh;
    width: 270px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
}

.sidebar-fixed .list-group .active{
    box-shadow: 0 2px 5px  0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
}

.sidebar-fixed .logo-wrapper{
    padding: 2.5rem;
}

.sidebar-fixed .logo-wrapper img{
    min-height: 50px;
}

@media (min-width: 1200px){
    .navbar, .page-footer.adm, main{
        padding-left: 270px;
    }
}

.page-footer .adm{
 /*defined in bootstrap*/
}

@media (max-width: 1200px){
    .sidebar-fixed{
        display: none;
    }
}

#imgContainer1{
    background: url(/web/img/bently.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -o-background-size: cover;
}

#imgContainer2{
    background: url(/web/img/bentli_winter.jpeg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -o-background-size: cover;
}

* {box-sizing: border-box;}
.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}
.product-item:hover {border-bottom: 2px solid darkblue;}
.product-item img {
    display: block;
    width: 100%;
}
.product-list {
    background: #fafafa;
    padding: 15px 0;
}
.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}
.price {
    font-size: 16px;
    color: darkblue;
    display: block;
    margin-bottom: 12px;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}
.product-item:hover .button {background: darkblue;}

main {
    margin-top: 80px;
}